/* おまじない */
@charset "UTF-8";

html{
  font-size: 16px;
}

/* notosans適用*/
body {
  font-family: 'Noto Sans', sans-serif;
}

/* ヘッダーのMAX幅とマージン設定 */
header {
  max-width: 1000px;
  margin: 0 auto;
}

/* もしかしてheight autoが無いと拡大縮小できなかったりする？ */
/* 左上のロゴimg */
header img{
  width: 160px;
  margin: 60px 0 20px 0
}


/* containerで幅一括指定 */
/* #mainvisualに設定したら別に.containerいらない */
#mainvisual{
  max-width: 1000px;
  margin: 0 auto;
}


/* 背景薄青 */
body {
  background-color: aliceblue;
}

/* index部分だけ背景白 */
#index {
  background-color: white;
  margin: 50px 0;
  padding: 20px 0;
}

/* h2文字を太字、最大幅600px、テキストなのでマージン0オートで中央揃え */
#index h2 {
  font-weight: bold;
  max-width: 60%;
  margin: 0 20%;
  font-size: 16px;
} 

/* ol/li文字の設定。最大幅600pxでマージン０オート */
ol {
  list-style-type: decimal;
  /* decimalで数字を表示 */
  padding-left: 16px;
  max-width: 600px;
  margin: 0 auto;
  font-size: 15px;
}

li {
  padding: 10px 0;
  font-size: 14px;
}

#detail {
  max-width: 60%;
  text-align: left;
  margin:0 auto;
}

#detail h2{
  font-weight: bold;
}

/* 画像サイズを600pxの45%、右側にマージンを5% */

#detail img {
  max-width: 45%;
  margin-right: 5%;
}

/* 画像とh3,dlをflex表示 */
/* h3とdlについては画像とは更に別divでくくっているため同タグ内のh3とdlは縦記載可能 */
.detail1 {
  display: flex;
  height: auto;
}

h3 {
  font-weight: bold;
  font-size: 16px;
  margin: 0 0 20px 0;
}

/* dlタグ内をflex表示
　　flex basisで子要素（dt/dd）の大きさを%でそれぞれ指定。
    表示範囲の分母は親要素であるdetail2（300px）に依存
　　wrap設定で最大（100%）まで大きくなったら改行させる */

dl {
  display: flex;
  flex-basis: 25% 75%;
  flex-wrap: wrap;
  border-top: 1px solid rgb(192, 190, 190);
  border-bottom: 1px solid rgb(192, 190, 190);
  padding: 20px 0;

}

/* detail内のコンテンツのflexを解除し縦積み
flexboxの操作についてはflex-flowを使用 
flex-flow: <flex-direction※縦> <flex-wrap※文字の折り返し>;*/

@media screen and (max-width:1024px){
 .detail1{
    flex-flow: column;
  }

    /* 　　文字列は表示範囲の100%とし自動で改行させる */
 
}

/* 文字の横幅をflex-basisで記載された範囲いっぱいに指定することで
  　ddタグとの空白範囲を整える */
dt {
  font-weight: normal;
  width: 25%;
}

/* 文字サイズをflex-basisで指定した範囲いっぱいにすることで
　　flex-wrapにより自動的に改行される */
dd {
  width: 75%;
}

.detail2 p{
  margin: 20px 0 20px 0;
}

.detail2 a{
  border-bottom: 1px solid;
}

footer {
  max-width: 600px;
  margin: 70px auto 20px auto;
}

small {
  font-size: 0.5em;
  color: #555;
}